@model List<HastaneOtomasyonu.Models.Randevu>
@{
    ViewData["Title"] = "Randevu";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}


<div id="page-wrapper">
    <div class="main-page">
        
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <section class="section_container booking_container">
             
                <style>
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        margin-top: 20px;
                    }

                    th, td {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }

                    th {
                        background-color: #f2f2f2;
                    }

                    tr:nth-child(even) {
                        background-color: #f9f9f9;
                    }

                    tr:hover {
                        background-color: #e0e0e0;
                    }
                </style>
                <table>
                    <thead>
                        <tr>
                            <th>Randevu No</th>
                            <th>Hasta Tc</th>
                            <th>Hasta Adı</th>
                            <th>Hasta Soyadı</th>
                            <th>Doktor Adı</th>
                            <th>Doktor Soyadı</th>
                            <th>Randevu Tarihi</th>
                            <th>Randevu Saati</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var randevu in Model)
                            {
                                <tr>
                                    <td>@randevu.RandevuId</td>
                                    <td>@randevu.Tc</td>
                                    <td>@randevu.HastalarAd</td>
                                    <td>@randevu.HastalarSoyad</td>
                                    <td>@randevu.DoktorlarAd</td>
                                    <td>@randevu.DoktorlarSoyad</td>
                                    <td>@randevu.RandevuTarih</td>
                                    <td>@randevu.RandevuSaati</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </section>
          </div> 
       
    </div>
</div>

